@media (max-width: 480px) {
    body {
        padding: 0 12.5px;
    }
    
    .title-text {
        font-size: 28px;
    }

    img {
        width: 21.5px;
        height: 21.5px;
    }

    .days-container {
        display: flex;
        flex-direction: column;
    }

    .day-cont {
        margin: 10px 0px 5px 0px;
    }

    .lessons-container {
        padding: 7px;
    }
}
